*.class
target
/bin/
/.settings/
.project
.classpath

# Package Files
*.jar
*.war
*.ear

# Serverless directories
.serverless
.idea/misc.xml
.idea/jarRepositories.xml
.idea/encodings.xml
.idea/compiler.xml
